services:
  mysql:
    image: mysql:9.6.0
    container_name: my-local-mysql
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: mydb
      MYSQL_USER: localuser
      MYSQL_PASSWORD: localpass
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  flask:
    build: .                            # Auto-build your Flask Dockerfile in this folder
    container_name: flask-web
    ports:
      - "5000:5000"
    depends_on:
      - mysql

volumes:
  mysql_data: